/*******************************************************************/
/*                                                                 */
/* UpdaterStyle.css - definition of global styles                     */
/*                                                                 */
/* Copyright © 2005 Macrovision Corporation                        */
/*                                                                 */

BODY, P, A, LI, LABEL, FILE, FIELDSET, LEGEND, OBJECT, TD {
    font-family: Tahoma;
    font-size: 8pt;
	line-height: 10pt;
	color: #333;
}

BODY {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

IMG {
    border: none;
}

FORM, INPUT, TEXTAREA, BUTTON, SELECT{
    font-family: Tahoma;
	font-size: 7.5pt; 
	color: #333;
}

.panel {
	background-color: #F4F4F4;
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
}	

table.full-height {
	height:100%;
	width:100%;
}

.plainBackground {
    background-color: #FFF;
}

.listBackground {
background-color: #FFF;
}

.listBackground TD {
	border-bottom: 1px solid #D7E5F5;
}

.colorListBackground {
background-color: #EBF2FA;
}

.textBackground {
	background-color: #E9EDF0;
}

.inputBackground {
    background-color: #E1EEFE;
}

.blockTopBackground {
/*    background-color: C7DDE5; */
	background-color: #C0D8F3;
}

.scrollBackBackground {
    background-color: #68A0D8;
}

.sectionBackground {
	background-image: url("images/common/section_back.gif");
}
	
.titleBackground {
    background-color: #25549C;
}

.subTitleBackground {
    background-color: #ccc;
}

.frameBackground {
    background-color: #7BA3E0;
}

.bookendBackground {
    background-color: #666;
}

.ltFolderBackground {
    background-color: #C0D8F3;
}

.dkFolderBackground {
    background-color: #356A8B;
}

.keyBackground {
    background-color: #FBFAC7;
}

.keyBorder {
    background-color: #C6CB33;
}

.colorActive {
    background-color: #5EC950;
}

.colorInactive {
    background-color: #ddd;
}

.colorTest {
    background-color: #FFED7E;
}

.noUnderline {
    color: #FFF;
	text-decoration: none;
}

.noUnderline a {
	color: #FFF;
	text-decoration: none;
}

.assistantHeader {
	float: left;
	padding: 25px 0 0 0;
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 13pt;
	line-height: 16pt;
    color: #FFF;
}

.assistantContentHeader {
	float: left;
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 12pt;
    font-weight: bold;
	line-height: 16pt;
    color: #666;
}

.assistantText {
    font-family: "Tahoma", Sans-Serif;
    font-size: 8pt;
	line-height: 14pt;
    color: #666;
}

.assistantText LI {
    font-family: "Tahoma", Sans-Serif;
    font-size: 8pt;
	line-height: 14pt;
    color: #666;
}

#header {
	width: 100%;
	height: 50px;
	background-image: url("images/nav/header_back.jpg");
}

#headerTitle {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 12pt;
	color: White;
}


#headerLogoContainer {
	float: left;
	padding: 7px 0 0 25px;
}

#headerRightContainer {
	float: right;
	font-family: Tahoma ;
    font-size: 6pt;
    color: #FFF;
}

#headerIconContainer {
	float: left;
	padding: 12px 0 0 0;
}

#headerTextContainer {
	float: left;
	padding: 16px 12px 0 2px;
}

#headerTextContainer a {
	float: left;
	color: #FFF;
	font-size: 7pt;
	font-weight: bold;
	text-decoration: none;
}

#headerIconContainer {
	float: left;
	padding: 12px 0 0 0;
}

#headerCornerContainer {
	float: left;
	padding: 0 0 0 0;
}

#PopupHeaderTextContainer {
	float: left;
	padding: 8px 8px 0 0;
	color:#FFFFFF;
	font-size: 12pt;
}

.masterNav {
	background: url("images/nav/top_nav_back.gif") repeat-x;
}
.masterUser {
	float:right;
	background: url("images/nav/top_nav_back.gif") repeat-x;
	color:#CCC;
	height:28px;
	font-weight:bold;
	padding-bottom:0;
	padding-top:7;
	padding-right:10;
	padding-left:2;
	font-family: Tahoma;
	font-size: 7.5pt;
	line-height:normal;
}

#mainNav {
	top:0;
	width:100%;
	background: url("images/nav/top_nav_back.gif") repeat-x top;
	line-height:normal;
	height: 26px;
	margin:0;
	border:0;
}

		#mainNav ul {
		margin:0;
		border:0;
		padding:3px 0px 10px 0px;
		list-style:none;
		}
		
		#mainNav li {
		display:inline;
		margin:0;
	border:0;
		}
		
		#mainNav a {
		float:left;
		background:url("images/nav/nav_left.gif") no-repeat 1px top ;
		margin:0;
		padding:0 0 0 15px;
		text-decoration:none;
		font-family: Tahoma;
		font-size: 7.5pt;
		white-space:nowrap;
		}
		
		#mainNav a span {
		float:left;
		display:block;
		background:url("images/nav/nav.gif") no-repeat right top;
		padding:5px 15px 6px 1px;
		font-weight:bold;
		color:#CCC;
		margin:0;
		}
		
		/* hides rule from IE5-Mac \*/
		#mainNav a span {float:none;}
		/* End IE5-Mac hack */
		
		#mainNav a:hover span {
		color:#FFF;
		padding-bottom:6px;
		}
		
		#mainNav #current a {
		background-position:1px -24px;
		border-width:0;
		}
		
		#mainNav #current a span {
		background-position:100% -24px;
		padding-bottom:6px;
		color:#FFF;
		}
		
		#mainNav a:hover {
		background-position:1px -24px;
		}
		
		#mainNav a:hover span {
		background-position:100% -24px;
		}

#secNav {
padding:1px 0 0 230px;
height: 23px;
background-image: url("images/nav/sec_nav2.gif");
}

		#secNav ul {
		margin:0;
		padding:3px 10px 0 10px;
		list-style:none;
		}
		
		#secNav li {
		display:inline;
		margin:0;
		}
		
		#secNav a {
		float:left;
		background: #;
		margin:0;
		padding:0 0 0 13px;
		text-decoration:none;
		background:url("images/nav/sec_nav_left.gif") no-repeat 1px top ;
		font-family: Tahoma;
		font-size: 7.5pt;
		font-weight:bold;
		}
		
		#secNav a span {
		float:left;
		display:block;
		background:url("images/nav/sec_nav.gif") no-repeat right top ;
		padding:2px 15px 4px 1px;
		color:#777;
		margin:0;
		}
		
		/* hides rule from IE5-Mac \*/
		#secNav a span {float:none;}
		/* End IE5-Mac hack */
		
		#secNav a:hover span {
		color:#444;
		padding-bottom:4px;
		}
		
		#secNav #current a {
		background-position:1px -20px;
		border-width:0;
		font-weight:bold;
		}
		
		#secNav #current a span {
		background-position:100% -20px;
		padding-bottom:4px;
		color:#444;
		}
		
		#secNav a:hover {
		background-position:1px -20px;
		font-weight:bold;
		}
		
		#secNav a:hover span {
		background-position:100% -20px;
		font-weight:bold;
		}

#navSeparator {
}

/* login tags */
.loginIndent {
padding: 70px 0 0px 25px;
}

.loginHeader {
width: 550px;
height: 20px;
padding: 3px 0 0 5px;
background:url("images/login/login_header_back.gif") no-repeat left top;
font-family: "Tahoma", Sans-Serif;
font-size: 8pt;
font-weight: bold;
color: #FFF;
}

.loginContentSpacer {
padding: 35px 0 0 35px;
}

.leftNavSpacer {
float: left;
width: 225px;
height: 2px;
margin: 0;
padding: 0;
}

#topContent {
width: 100%;
height: 16px;
}

#topContentLeft {
float: left;
width: 175px;
height: 23px;
background: url("images/nav/side_panel.jpg");
}

/* ----------------------- */

#topContentRight {
float: left;
background: #FFF;
background: url("images/nav/content_curve.gif") no-repeat left top;
height: 15px;
width: 15px;
}

#topContentRightAssistant {
float: left;
background: url("images/assistant/header_back.gif") repeat left top;
height: 70px;
}

#topContentRightAssistantCorner {
float: left;
background: url("images/assistant/header_back_left.gif") no-repeat left top;
height: 70px;
width: 15px;
}

#bottom 
{
position: absolute; left: 0px; bottom: 0px;
float: left;
border-width:0;
padding: 0 0 0 0;
background: url("images/nav/bottom.gif") repeat-x;
height: 25px;
width: 100%;
border:none;
}

#bottomCopyright {
float: left;
padding: 6px 0 0 10px;
font-family: Tahoma;
font-size: 7pt;
color: #777;
}

#bottomCopyright a {
color: #777;
text-decoration: none;
}

#bottomAbout {
float: right;
padding: 6px 10px 0 0;
font-family: Tahoma;
font-size: 7pt;
color: #777;
}

#bottomAbout a {
color: #777;
text-decoration: none;
}

/* home page stuff */

#startHeader {
width: 100%;
height: 70px;
background: url("images/start/content_top.jpg") no-repeat top left;
}

#startHeaderCurve {
float: right;
width: 14;
height: 70;
background: url("images/start/header_curve.gif") no-repeat bottom right;
}

#startContent {
width: 100%;
height: 200;
padding: 14px 8px 0 8px;
}

#startSection {
position: fixed;
margin: 0;
padding: 0;
}

	#startSection td {
		height: 20px;
	}
	
	#startSection td a {
		padding: 0 0 0 4px;
		text-decoration: none;
		display: block;
		font-weight: normal; 
		border-bottom: 1px solid #666;
		cursor: hand;
	}

	#startSection td a:hover {
		background-color: #EBF2FA;
	}
	
#panelContainer {
width: 100%;
padding: 0 6px 0 0;
height: 230px;
}

#3PanelContainer {
width: 100%;
height: 230px;
}

#left3Panel {
float: left;
width: 33%;
height: 230px;
}

#center3Panel {
float: left;
width: 33%;
height: 230px;
}

#right3Panel {
float: left;
width: 33%;
height: 230px;
}

#left2Panel {
float: left;
width: 50%;
height: 230px;
}

#right2Panel {
float: left;
width: 50%;
height: 230px;
}

.leftPanelTop {
float: left;
width: 100%;
height: 18px;
background: url("images/start/left_panel_top.gif") top left;
padding: 2px 0 0 10px;
color: #FFF;
}

.centerPanelTop {
float: left;
width: 100%;
height: 18px;
background-color: #4678D7;
padding: 2px 0 0 10px;
color: #FFF;
}

.rightPanelTop {
float: left;
width: 100%;
height: 18px;
background: url("images/start/right_panel_top.gif") top right;
padding: 2px 0 0 10px;
color: #FFF;
}

.rightPanelTopRed {
float: left;
width: 100%;
height: 18px;
background-color: #990000;
padding: 2px 0 0 10px;
color: #FFF;
}

.rightPanelTopOrange {
float: left;
width: 100%;
height: 18px;
background-color: #996600;
padding: 2px 0 0 10px;
color: #FFF;
}

.rightPanelTopYellow {
float: left;
width: 100%;
height: 18px;
background-color: #cccc00;
padding: 2px 0 0 10px;
color: #FFF;
}

.panelContentSep {
float: left;
width: 1px;
height: 258;
background: url("images/start/panel_sep.gif") bottom;
}

#leftPanelContent {
float: left;
width: 100%;
height: 100%;
padding: 0 10px 0 10px;
background: url("images/start/left_panel.gif") top left;
}

#leftPanelContentNoPadding {
float: left;
width: 100%;
height: 100%;
padding: 0 0 0 6px;
background: url("images/start/left_panel.gif") top left;
}

#centerPanelContent {
float: left;
width: 100%;
height: 100%;
background-color: #CAD8EF;
}

#rightPanelContent {
float: left;
width: 100%;
height: 100%;
padding: 0 10px 0 10px;
background: url("images/start/right_panel.gif") top right;
}

.leftPanelBottom {
float: left;
width: 100%;
height: 6px;
background: url("images/start/left_panel_bottom.gif") no-repeat top left;
}

.centerPanelBottom {
	float: left;
	width: 100%;
	height: 6px;
	background: url("images/start/center_panel_bottom.gif") no-repeat top left;
}

.rightPanelBottom{
	float: left;
	width: 100%;
	height: 6px;
	background: url("images/start/right_panel_bottom.gif") no-repeat top right;
}

#contentRight {
	width: 100%;
	background-color: #FFF;
}

.cellContent {
    margin-left: .8em;
    margin-top: .4em;
    margin-right: .8em;
	margin-bottom: .8em;
}

.pageContent {
    margin-left: 1em;
    margin-top: .75em;
    margin-right: .75em;
	margin-bottom: .75em;
}

#titleBarNoSort {
	background: #839099;
}

	#titleBarNoSort td {
		color: #FFF;
	}
	
.error {
color: #CC3344; 
visibility: hidden;
}

.buttonwidth {
width: 70px;
}

#progressSelected td {
position : relative;
width: 36px;
height: 20px;
background-color: #90DD88;
text-align: center;
}
	#progressSelected td a {
		width: 36px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		display: block;
		font-weight: normal; 
		color: #223355;
		background-color: #90DD88;
	}

	#progressSelected td a.here {
		background-color: #90DD88;
	}
	
	#progressSelected td a:hover {
		color: #223355;
		background-color: #D3DCEE;
		text-decoration: underline;
	}

#progressNotSelected td {
position : relative;
width: 36px;
height: 20px;
background-color: #E9EDF0;
text-align: center;
}
	#progressNotSelected td a {
		width: 36px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		display: block;
		font-weight: normal; 
		color: #223355;
		background-color: #E9EDF0;
	}

	#progressNotSelected td a.here {
		background-color: #E9EDF0;
	}
	
	#progressNotSelected td a:hover {
		color: #223355;
		background-color: #D3DCEE;
		text-decoration: underline;
	}

.progressSelectedHead td{
position : relative;
background-color: #90DD88;
text-align: center;
}

.progressNotSelectedHead td{
position : relative;
background-color: #E9EDF0;
text-align: center;
}

#progressTextSelected td {
position : relative;
padding:  0 6px 0 6px;
height: 20px;
background-color: #90DD88;
text-align: center;
}
	#progressTextSelected td a {
		height: 20px;
		padding:  0 6px 0 6px;
		text-decoration: none;
		text-align: center;
		display: block;
		font-weight: normal; 
		color: #223355;
		background-color: #90DD88;
	}

	#progressTextSelected td a.here {
		background-color: #90DD88;
	}
	
	#progressTextSelected td a:hover {
		color: #223355;
		background-color: #90DD88;
		text-decoration: underline;
	}

#progressTextNotSelected td {
position : relative;
padding:  0 6px 0 6px;
height: 20px;
background-color: #E9EDF0;
text-align: center;
}
	#progressTextNotSelected td a {
		height: 20px;
		padding:  0 6px 0 6px;
		text-decoration: none;
		text-align: center;
		display: block;
		font-weight: normal; 
		color: #223355;
		background-color: #E9EDF0;
	}

	#progressTextNotSelected td a.here {
		background-color: #E1EEFE;
	}
	
	#progressTextNotSelected td a:hover {
		color: #223355;
		background-color: #D3DCEE;
		text-decoration: underline;
	}
	
.navAnchor {
    color: #FFF;
	text-decoration: none;
}

.breadCrumbs {
	float: right;
	white-space: nowrap;
	padding-right:10;
}

	.breadCrumbs a {
		text-decoration: none;
	}
	
	.breadCrumbs a:hover {
		text-decoration: underline;
	}
	
/* Interior folder tab */
#tablist {
	top:0;
	line-height:normal;
	height: 24px;
}

		#tablist ul {
		margin:0;
		padding:3px 10px 5px 10px;
		list-style:none;
		}
		
		#tablist li {
		display:inline;
		}
		
		#tablist a {
		float: left;
		background: url("images/common/folder_tab_left.gif") no-repeat 5px top ;
		padding: 0 0 0 15px;
		text-decoration: none;
		font-family: Tahoma;
		font-size: 7.5pt;
		white-space: nowrap;
		color: #444;
		}
		
		#tablist a span {
		float: left;
		display: block;
		background: url("images/common/folder_tab.gif") no-repeat right top;
		padding: 5px 13px 5px 6px;
		font-weight: bold;
		}
		
		/* hides rule from IE5-Mac \*/
		#tablist a span {float:none;}
		/* End IE5-Mac hack */
		
		#tablist a:hover span {
		padding-bottom:5px;
		}
		
		#tablist a.current {
		background-position:5px -24px;
		border-width:0;
		color: #444;
		}
		
		#tablist a.current span {
		background-position:100% -24px;
		padding-bottom:5px;
		}
		
		#tablist a:hover {
		background-position:5px -24px;
		}
		
		#tablist a:hover span {
		background-position:100% -24px;
		}

/* Interior folder tab */
#tablistRefresh {
	top:0;
	line-height:normal;
	height: 24px;
}

		#tablistRefresh ul {
		margin:0;
		padding:3px 10px 5px 10px;
		list-style:none;
		}
		
		#tablistRefresh li {
		display:inline;
		}
		
		#tablistRefresh a {
		float: left;
		background: url("images/common/folder_tab_left.gif") no-repeat 5px top ;
		padding: 0 0 0 10px;
		text-decoration: none;
		font-family: Tahoma;
		font-size: 7.5pt;
		white-space: nowrap;
		color: #444;
		}
		
		#tablistRefresh a span {
		float: left;
		display: block;
		background: url("images/common/folder_tab.gif") no-repeat right top;
		padding: 5px 13px 5px 6px;
		font-weight: bold;
		}
		
		/* hides rule from IE5-Mac \*/
		#tablistRefresh a span {float:none;}
		/* End IE5-Mac hack */
		
		#tablistRefresh a:hover span {
		padding-bottom:5px;
		}
		
		#tablistRefresh #current a {
		background-position:5px -24px;
		border-width:0;
		color: #444;
		}
		
		#tablistRefresh #current a span {
		background-position:100% -24px;
		padding-bottom:5px;
		}
		
		#tablistRefresh a:hover {
		background-position:5px -24px;
		}
		
		#tablistRefresh a:hover span {
		background-position:100% -24px;
		}
	
.Scroller5Row {
position : relative;
width : 100%;
height : 129px;
border:1px solid #999999;
background-color: #FFFFFF;
}

.Scroller11Row {
position : relative;
width : 100%;
height : 227px;
border:1px solid #999999;
background-color: #FFFFFF;
}

.Scroller13Row{
position : relative;
height : 280px;
border:1px solid #999999;
background-color: #FFFFFF;
}

.Scroller_full {
position : relative;
width : 100%;
height : 100%;
overflow : auto;
border:1px solid #999999;
background-color: #FFFFFF;
}

#plainhoversection {
	margin: 0;
	padding: 0;
}
	
	#plainhoversection td {
		border-right: 1px solid #ddd;
		border-left: 1px solid #888;
		background-image: url("images/common/toolbar_back.gif");
		height: 22px;
		color: #444;
	}
	
	#plainhoversection td a {
		padding: 4px 8px 0 5px;
		text-decoration: none;
		text-align: center;
		display: block;
		white-space: nowrap;
		background-image: url("images/common/toolbar_back.gif");
		height: 22px;
		color: #444;
	}
	
	#plainhoversection td a:hover {
		background-image: url("images/common/toolbar_back_s.gif");
		
	}

#plainhoversectionNoSort td {
	height: 22px;
	background-image: url("images/common/toolbar_back.gif");
}

#hoversection {
position: relative;
margin: 0;
padding: 0;
}

	#hoversection td {
		border-left: 1px solid #666;
		border-right: 1px solid #FFF;
		text-align: center;
		background: url("images/common/column_back.gif") repeat left top;
		height: 21px;
	}
	
	#hoversection td a {
		height: 2em;
		padding:  3px 0 0 6px;
		text-decoration: none;
		display: block;
		text-align: center;
		font-weight: normal; 
	}

	#hoversection td a:hover {
		background: url("images/common/column_back_s.gif") repeat left top;
	}
	
#hoversectionNoSort td {
	height: 21px;
	padding: 1px 0 1px 0;
	border-left: 1px solid #666;
	border-right: 1px solid #FFF;
	text-align: center;
	background: url("images/common/column_back.gif");
}


.contentLeft 
{
	position:relative;
	bottom:0px;
	height:100%;
	width: 225px;
	background: url("images/nav/side_panel.jpg");
}

.leftLinkContainer {
padding: 0 0 0 5px;
}

.leftLink {
float: left;
margin: 0 0 0 2px;
width: 214px;
border-top: 1px solid #6C99E0;
border-bottom: 1px solid #06428D;
display: block;
}

	.leftLink a  {
		height: 17px;
		color: #FFF;
		padding: 1px 0 0 6px;
		text-decoration: none;
		display: block;
		
	}
	
	.leftLink a:hover {
		text-decoration: none;
		color: #FFF;
		display: block;
	}
	
.leftAction {
float: left;
margin: 0 0 0 2px;
width: 214px;
}

	.leftAction a  {
		height: 17px;
		color: #FFF;
		padding: 1px 0 0 6px;
		text-decoration: none;
		
	}
	
	.leftAction a:hover {
		text-decoration: none;
		color: #FFF;
		
		text-decoration: underline; 
	}

.leftInfo {
		height: 17px;
		color: #FFF;
		padding: 1px 0 0 6px;
		text-decoration: none;
}
	.leftInfo a  {
		text-decoration: underline;
		color: White;
	}
	
.leftLinkSelected {
float: left;
width: 225px;
background: url("images/nav/selected_left_nav.gif") no-repeat left top;
display: block;
}

	.leftLinkSelected a  {
		height: 17px;
		padding: 1px 0 0 10px;
		font-weight: bold;
		text-decoration: none;
		display: block;
		color: #D35C02;
		
	}
	
	.leftLinkSelected a:hover {
		text-decoration: none;
		display: block;
		color: #D35C02;
	}

#leftLinkTop {
float: left;
margin: 0 0 0 2px;
width: 214px;
border-bottom: 1px solid #06428D;
}

#leftLinkBottom  {
float: left;
margin: 0 0 0 2px;
width: 214px;
border-top: 1px solid #6C99E0;
}

/* ----------------------- */

.leftBoxContainer {
padding: 0 0 0 0;
width: 225px;
margin:0; 
padding:0;
}

.leftBoxContainer2 {
padding: 0 0 0 0;
width: 225px;
margin:0; 
padding:0;
}

.leftBoxContent {
float: left;
width: 225px;
margin:0; 
padding: 0 0 0 8px;
display: block;
background: url("images/nav/l_panel_content.gif") no-repeat left bottom;
}

.leftBoxLink {
float: left;
margin:0; 
padding:0;
width: 208px;
border-top: 1px solid #EDEFF1;
border-bottom: 1px solid #D1D3D5;
display: block;
}

	.leftBoxLink a  {
		height: 16px;
		color: #143857;
		padding: 1px 0 0 7px;
		text-decoration: none;
		display: block;
		
	}
	
	.leftBoxLink a:hover {
		text-decoration: none;
		color: #143857;
		display: block;
	}
	
.leftBoxLinkTop {
margin:0; 
padding:0;
float: left;
width: 208px;
border-bottom: 1px solid #D1D3D5;
}

.leftBoxLinkBottom  {
margin:0; 
padding:0;
float: left;
width: 208px;
border-top: 1px solid #EDEFF1;
}

.leftBoxContentBottom {
margin:0; 
padding:0;
float: left;
width: 225px;
height: 12px;
display: block;
background: url("images/nav/l_panel_content_bottom.gif") no-repeat left bottom;
}

.leftBoxContentTop {
margin:0; 
padding:0;
float: left;
width: 225px;
height: 26px;
display: block;
background: url("images/nav/l_panel_content_top.gif") no-repeat left bottom;
}

.leftBoxContentTop a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	display: block;
}

.leftBoxContentTopText {
float: left;
margin:0; 
padding: 6px 0 0 7px;
width: 180px;
height: 20px;
}
	.leftBoxContentTopText a {
	width: 180px;
height: 20px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	display: block;
	}
	
	.leftBoxContentTopText a:hover {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	display: block;
	}

.leftBoxArrowRight {
float: left;
height: 16px;
width: 16px;
display: block;
margin:0; 
padding: 5px 0 0 16px;
}

.leftBoxContentFalseBottom {
float: left;
width: 225px;
height: 5px;
display: block;
background: url("images/nav/l_panel_content_f_bottom.gif") no-repeat left top;
}


.helpHeader {
	margin-left: 6px;
	width: 212px;
	height: 24px;
	padding:  4px 0 0 9px;
	font-weight: bold;
    white-space: nowrap;
	color: #FFFFFF;
	background: url("images/nav/l_panel_help_header.gif") no-repeat left top;
}

.helpMargin {
	margin-left: 15px;
    margin-right: 10px;
	color: #FFFFFF;
}


.rightSideHeader{
	float: left;
	width: 225px;
	height: 19px;
	margin: 10px 0 0 0;
	padding: 2px 0 0 19px;
	background: url("images/start/right_side_header_back.gif") no-repeat top 10px left;
	color: #FFF;
}

.rightSideContent{
	width: 171px;
	padding: 2px 0 0 19px;
}

.rightSideContent a {
	float:right;
	width: 170px;
	line-height: 14pt;
}

.pageTop {
width: 98%;
height: 20px;
}

.pageHeader {
	float: left;
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 13pt;
    font-weight: bold;
	line-height: 16pt;
    color: #D35C02;
}

.sectionHeader {
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 10pt;
	font-weight: bold;
	line-height: 22pt;
    color: #F5A327;
    white-space: nowrap;
}

.JScomplete {
    font-family: "Trebuchet MS", Tahoma;
    font-size: 11pt;
	font-weight: bold;
	line-height: 13pt;
    color: #189F0B;
    margin-top:12pt;
    margin-bottom:9pt;
}

#startHeaderText {
	float: left;
	color: #FFF;
    font-family: "Trebuchet MS", Sans-Serif;
	font-size: 18pt;
	line-height: 14pt;
	height: 70px;
	padding: 38px 0 0 8px;
}

#recentActivityText {
	display: block;
    color: #D35C02;
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 12pt;
    font-weight: bold;
	line-height: 16pt;
}

.areaIcon {
    width: 40px;
    height: 40px;
}

.ReportTypeHeader
{
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 11pt;
    font-weight: bold;
    color: #7690B1;
    text-decoration:none;
    margin-bottom: -12pt;
}

.errorText {
    font-weight: bold;
    color: #9A0200;
}

.stepButtonOver{
background-image:url(images/bar_on.gif);
cursor:pointer;
vertical-align:middle;
}

.stepButtonOut{
background-image:url(images/bar_off.gif);
}

.stepheader{
	background: rgb(33,77,148);
	height : 20px;
	color: White;
	font-size:8pt;
}

.UserUpdateText{
	display: block;
    color: #D35C02;
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 10pt;
    font-weight: bold;
}

